body{
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.profile-card{
width: 400px;
margin: auto;
background: #5E5B5B;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.image-container{
    position: relative;
}
.info{
    color: #FFFFFF;
    margin-right: 16px;
}
.main-container{
padding: 50px;
}
.skill-bar{
    background-color: #4E4E51;
    border-radius: 16px;
}
.progress-bar{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #545454;
    background-color:#FFFFFF;
}
.title{
    position: absolute;
    left: 15px;
    bottom: 0;
    color: #FFFFFF;
}

a{
  text-decoration:none;
  text-align: center;
}

